body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: #dfe6e9;
  background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
  text-align: center;
}
